<!doctype html>
<html>
<head>
    <title>Zack's Fave Music</title>
</head>
<body>

<!--Create paragraph briefly talking about my music tastes-->
<h1>Zack’s Favorite Music</h1>
<p>My music taste is eclectic, which is represented</p>
</p>by the artists I have listed. Even though I grew up a metal</p>
</p>head, I am open to all types. Below are some of my favorite artists,</p>
</p>favorite albums, and links to learn more.</p>

<h2>Favorite Artists</h2>
<ol type="1">
    </li>Every Time I Die, </li>
    </li>Frank Ocean, </li>
    </li>Norma Jean, </li>
    </li>The Chariot, </li>
    </li>Tyler, the Creator</li>
</ol>

<h2>Favorite Albums</h2>
<ul style="list-style-type:disc">
    <li>"Low Teens" by Every Time I Die</li>
    <li>"Blond" by Frank Ocean</li>
    <li>"One Wing" by The Chariot</li>
    <li>"It Hates You" by He Is Legend</li>
    <li>"M3LL155X" by FKA Twigs</li>
</ul>

<!--Only do links to Wikipedia-->
<h2>Links to Artist Wiki Page</h2>
<ul>
    <a href="https://en.wikipedia.org/wiki/Every_Time_I_Die">Every Time I Die, </a>
    <a href="https://en.wikipedia.org/wiki/Frank_Ocean">Frank Ocean, </a>
    <a href="https://en.wikipedia.org/wiki/Norma_Jean_(band)">Norma Jean, </a>
    <a href="https://en.wikipedia.org/wiki/The_Chariot_(band)">The Chariot, </a>
    <a href="https://en.wikipedia.org/wiki/Tyler,_the_Creator">Frank Ocean </a>
</ul>

</body>
</html>